.App {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/*
#home, #about, #portfolio, #resume, #contact {
  margin-left: 50px;
}
*/
p {
  font-size: medium;
}
.portfolio-container {
  max-width: 80%;
  margin-left: 17.5%;
}

.portfolio-title {
  margin: 0 20%;
  text-align: center;
  width: 52%;
  padding-bottom: 20px;
}

.portfolio-item-title {
  color:rgb(225, 255, 246)
}

#skills-text {
  font-weight: bold;
}

.header .banner {
  margin-left: 100px;
}

#profile-container {
  padding: 10px;
  float: none;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 90%;
  box-shadow: 0px 4px 5px rgb(2, 70, 44);
}

@media screen and (max-width: 767px) {
  .App {
    margin-left: 0px;
  }
  #about {
    padding-left: 0px;
  }
  .profile-pic {
    visibility: hidden;
  }
  header .banner {
    margin: 0;
  }
}

.nav-divider {
  height: 1px;
  margin: 0;
  background: rgb(219, 255, 231);
  border: 1px;
}

.header-description {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(10, 44, 59, 0.616)
}
