.App {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/*
#home, #about, #portfolio, #resume, #contact {
  margin-left: 50px;
}
*/

.header .banner {
  margin-left: 100px;
}

#profile-container {
  padding: 10px;
  float: none;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 90%;
  box-shadow: 0px 4px 5px rgb(2, 70, 44);
}

.nav-divider {
  height: 1px;
  margin: 0;
  background: rgb(219, 255, 231);
  border: 1px;
}

.header-description {
  background-color: rgba(10, 44, 59, 0.616)
}